[defaults]
timeout = 30
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=no
pipelining = False
transfer_method = scp

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = False
